.background {
    -fx-background-color: white; /* For browsers that do not support gradients */
    /*-fx-background: linear-gradient(white, #0168B3, white); !* Standard syntax *!*/
}

.button {
    -fx-font: 12pt "Arial", Gadget, sans-serif;
    -fx-text-fill: #0168B3;
    -fx-text-alignment: center;
    -fx-border-color: #FC7500;
    -fx-padding: 3 9;
    -fx-background-color: white;

    -webkit-transition-duration: .4s;
    transition-duration: 0.4s;
    -fx-cursor: hand;
}

.button:hover {
    -fx-text-fill: white;
    -fx-background-color: #0168B3;
}

.delete-button:hover {
    -fx-text-fill: white;
    -fx-background-color: red;
}
.delete-button:pressed {
    -fx-text-fill: white;
    -fx-background-color: #bb0000;
    -fx-border-color: black;

}

.text-field {
    -fx-font: 12pt "Arial", Gadget, sans-serif;
    -fx-text-fill: #0168B3;
    -fx-text-alignment: center;
    -fx-border-color: #FC7500;
    -fx-padding: 3 9;
    -fx-background-color: white;
}

.label {
    -fx-font: 20pt "Arial", Gadget, sans-serif;
    -fx-text-fill: #0168B3;
}