.root {
    -fx-uta-orange: #FC7500;
    -fx-uta-blue: #0168B3;
}

.background {
    -fx-background-color: #FAFAFA;
}

.button {
    -fx-background-color: transparent;
    -fx-text-fill: -fx-uta-blue;
}

.button:hover {
    -fx-text-fill: black;
}

.button:pressed {
    -fx-text-fill: #0187d3;
}
